<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>



<% @trainer.pokemons.each do |pokemon| %>
  	<%= pokemon.name %>
  	<ul>
  		<li>Level: <%= pokemon.level %></li>
  		<li>Health: <%= pokemon.health %></li>
  		<%= button_to "Damage!", damage_path(id: @pokemon), :class => "button medium", :method => :patch %>
  	</ul>
<%end%>